<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Employees DB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="isLogin">
        <a class="nav-link" href="#" routerLink ="/" >Dashboard </a>
      </li>
      <li class="nav-item" *ngIf="!isLogin && EnableRegister">
        <a class="nav-link" href="#" routerLink ="/register">Register</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink ="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
          <a class="nav-link" (click)="logoutClick()">Logout</a>
        </li>
        <li class="nav-item" *ngIf="isLogin">
          <a class="nav-link" >{{isUserLogin}}</a>
        </li>
        <li class="nav-item" *ngIf="isLogin">
          <a class="nav-link" href="#" routerLink ="/settings">Settings</a>
        </li>
    </ul>
  </div>
</nav>