<style>
  .ctn {
  padding-top: 100px ;
  }
</style>
<div class="container ctn">
  <div class="row">
    <div class="col-sm-6">
        <a href="#" class="btn btn-success" routerLink="/"><i class="fa fa-arrow-circle-left"></i>  Back to Dashboard</a>
        
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3><i class="fa fa-plus"></i>  Add Employee</h3>
      <form novalidate #fo='ngForm' (ngSubmit)='mySubmit(fo)'>
        <div class="form-group">
          <label for="firstname">First Name:</label>
          <input name="firstName" type="text" class="form-control" id="firstname" [(ngModel)]="employee.firstName" #employeefirstName="ngModel" required minlength="4">
          <div *ngIf="employeefirstName.errors?.required && employeefirstName.touched" class="alert alert-danger">
            First Name is required
          </div>
            <div *ngIf="employeefirstName.errors?.minlength && employeefirstName.touched" class="alert alert-danger">
                Need at least 4 characters
            </div>
        </div>

        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input name="lastName" type="text" class="form-control" id="lastname" [(ngModel)]="employee.lastName" #employeelastName="ngModel" required minlength="4">
            <div *ngIf="employeelastName.errors?.required && employeelastName.touched" class="alert alert-danger">
              Last Name is required
            </div>
              <div *ngIf="employeelastName.errors?.minlength && employeelastName.touched" class="alert alert-danger">
                  Need at least 4 characters
              </div>
          </div>

          <div class="form-group">
              <label for="email">Email:</label>
              <input name="email" type="email" class="form-control" id="email" [(ngModel)]="employee.email" #employeeemail="ngModel" required minlength="4">
              <div *ngIf="employeeemail.errors?.required && employeeemail.touched" class="alert alert-danger">
                  email is required
              </div>
            </div>
            <div class="form-group">
                <label for="country">Country:</label>
                <input name="country" type="text" class="form-control" id="country" [(ngModel)]="employee.country" #employeecountry="ngModel" required minlength="4">
                <div *ngIf="employeecountry.errors?.required && employeecountry.touched" class="alert alert-danger">
                  Country is required
                </div>
                  
              </div>
              <div class="form-group">
                  <label for="city">City:</label>
                  <input name="city" type="text" class="form-control" id="city" [(ngModel)]="employee.city" #employeecity="ngModel" required minlength="4">
                  <div *ngIf="employeecity.errors?.required && employeecity.touched" class="alert alert-danger">
                      city is required
                  </div>
                    
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input name="phone" type="text" class="form-control" id="phone" [(ngModel)]="employee.phone" #employeephone="ngModel" required minlength="10">
                    <div *ngIf="employeephone.errors?.required && employeephone.touched" class="alert alert-danger">
                      Phone is required
                    </div>
                      <div *ngIf="employeephone.errors?.minlength && employeephone.touched" class="alert alert-danger">
                          Need at least 10 characters
                      </div>
                  </div>
                  <div class="form-group">
                      <label  for="salary">Salary:</label>
                      <input name="salary"type="text" class="form-control" id="salary" [(ngModel)]="employee.salary" #employeesalary="ngModel" [disabled]="disableSalary">
                    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> 
    </div>
  </div>

  

</div>

